h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald"
}

body {
  background-color: black;
  background-image: url("imagenes/Captura\ de\ pantalla\ imagen3.png");
  font-family: "Open Sans"
}

.img-center {
  text-align: center;
}

#boton-mujeres {
  font-size: 30px;
}

#boton-hombres {
  font-size: 30px;
}

h2 {
  -webkit-text-stroke: 2px black;
  color: white;
}

h1 {
  color: white;
}

.hombres {
  width: 300px;
  height: 300px;
}

#mujeres {
  width: 300px;
  height: 300px;
}

.grid-container {
  display: grid;
}

.conteiner {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 50px;
}

.conteiner img {
  margin-top: 30px;
  margin-left: 30px;
}

.conteinerm {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 50px;
}

.conteinerm img {
  margin-top: 30px;
  margin-left: 30px;
}

@media (max-width:768px) {
  .conteinerm {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
  }

  .conteiner {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
  }
}

@media (max-width:320px) {
  .conteinerm {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
  }

  .conteinerm img {
    width: 100px;
    height: 100px;
    margin: 2;
  }

  .imagenes{
    margin: 10px;
  }
  .imagenes img{
    margin-top: 10px;
  }

  #titulo {
    position: absolute;
    font-size: medium;
    height: 50px;
  }

  #buttom {
    height: 50px;
  }

  #titulo1 {
    text-align: start;
    width: 250px;
    height: 50px;
    position: relative;
  }

  .conteiner {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
  }

  .conteiner img {
    width: 100px;
    height: 100px;
    margin: 2;
  }
  
  #titulo2 {
    text-align: start;
    width: 250px;
    height: 50px;
    position: relative;
  }

}